SECRET_KEY='django-insecure-wq46%pu)o8c7a3vny3#$*&@%hmvkd#$vm'
DB_NAME='test_o_parser'
DB_USER='mysql_user'
DB_PASSWORD='mysql_password'
DB_HOST='127.0.0.1'
DB_PORT='3306'
REDIS_HOST='localhost'
TG_REDIS_HOST='redis'
REDIS_PORT=6379
REDIS_PASSWORD='qwerty123'
REPORT_BOT_TOKEN=токен тг бота для отправок сообщений
REPORT_CHAT_ID=айди юзера тг (кому отправлять)